# Node & dependencies
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Compiled outputs
**/dist/
**/tmp/
**/out-tsc/
**/bazel-out/
**/build/

# Angular cache and CLI files
**/.angular/
.sass-cache/

# IDEs and Editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/
.DS_Store
Thumbs.db

# Local env files
.env
.env.local
.env.*.local
*.env

# VS Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
